<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All books</title>
</head>
<body>
<h3>Book list:</h3>

<form action="/books">
    <label for="sort">Sort:</label>
    <select id="sort" name="sort_by_year">
        <option value="false" selected></option>
        <option value="true">Sort by year</option>
    </select>
    <br>
    <label for="page">Page number:</label><br>
    <input type="text" id="page" name="page" value=""><br>
    <label for="perPage">Books per page:</label><br>
    <input type="text" id="perPage" name="books_per_page" value=""><br><br>
    <input type="submit" value="Show">
</form>

<div th:each="book : ${books}">
    <a th:href="@{/books/{id}(id=${book.getBookId()})}"
       th:text="${book.getBookTitle() + ', ' + book.getBookAuthor() + ', ' + book.getBookPublicationYear()}">user</a>
</div>
<br>
<hr>
<a href="/books/new">Add new book</a><br>
<a href="/books/search">Search for a book</a>
</body>
</html>

