<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<body>
<p th:text="${book.getBookTitle() + ', ' + book.getBookAuthor() + ', ' + book.getBookPublicationYear()}">Value</p>

<div th:if="${book.getOwner == null}">
    <p>This book is available. Choose a person to assign this book: </p>

    <form th:method="PATCH" th:action="@{/books/{id}/assign/(id =${book.getBookId()})}">
        <label for="person">Choose a person</label>
        <select id="person" th:object="${person}" th:field="*{personId}">
            <option th:each="person : ${people}" th:value="${person.getPersonId()}"
                    th:text="${person.getPersonName()}"></option>
        </select>
        <input type="submit" value="Assign book"/>
    </form>
</div>


<div th:if="${book.getOwner != null}">
    <p th:text="'This book is assigned to: ' + ${holder.getPersonName()}"/>

    <form th:method="PATCH" th:action="@{/books/{id}/release(id=${book.getBookId()})}">
        <input type="submit" value="Remove assignment">
    </form>

</div>

<hr>
<a th:href="@{/books/{id}/edit(id=${book.getBookId()})}"><input type="button" value="Edit"/></a>
<br>
<br>
<form th:method="DELETE" th:action="@{/books/{id}/(id=${book.getBookId()})}">
    <input type="submit" value="Delete">
</form>
</body>
</html>